@using WEB_953505_EFIMCHIK.Blazor.Client.Components
@page "/apidemo"

@inject HttpClient client
<div class="container">
    <ProductsList @bind-Cars="Cars" SelectedObjectChanged="ShowDetails">
    </ProductsList>
    <ProductDetails @bind-Car="SelectedCar"></ProductDetails>

</div>
@code {
    [Parameter]
    public IEnumerable<ListViewModel> Cars { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Cars = await client.GetFromJsonAsync<IEnumerable<ListViewModel>>("api/cars");
    }
    [Parameter]
    public DetailViewModel SelectedCar { get; set; }
    private async Task ShowDetails(int id)
    {
        SelectedCar = await client.GetFromJsonAsync<DetailViewModel>($"api/cars/{id}");
    }
}
